@charset "UTF-8";
body {
  background-color: rgb(17, 27, 33);
  color: #D1D7DB;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

a {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  margin: 19px;
  height: 100%;
}
.wrapper .container {
  display: flex;
  width: 100%;
  height: 100%;
}
.wrapper .container #sidebar {
  width: 30%;
  height: calc(100% - 38px);
}
.wrapper .container #sidebar .chatList-header {
  color: #AEBAC1;
  background-color: #202C33;
  display: flex;
  align-items: center;
  padding: 10px 16px;
}
.wrapper .container #sidebar .chatList-header .pp {
  flex-grow: 1;
  height: 40px;
}
.wrapper .container #sidebar .chatList-header .pp .pp-btn {
  height: 40px;
  cursor: pointer;
}
.wrapper .container #sidebar .chatList-header .pp .pp-btn img {
  border-radius: 50%;
}
.wrapper .container #sidebar .chatList-header .menu-bar {
  display: flex;
}
.wrapper .container #sidebar .chatList-header .menu-bar .menu-bar-community {
  margin-left: 0;
  cursor: pointer;
}
.wrapper .container #sidebar .chatList-header .menu-bar div {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper .container #sidebar #side {
  height: calc(100vh - 98px);
  display: flex;
  flex-direction: column;
}
.wrapper .container #sidebar #side .chatList-search-container {
  color: #697780;
  padding-left: 12px;
  height: 49px;
  margin: 7px 0;
  display: flex;
  align-items: center;
}
.wrapper .container #sidebar #side .chatList-search-container .search {
  flex-grow: 1;
  height: 35px;
  border-radius: 7.5px;
  background-color: #202C33;
  position: relative;
}
.wrapper .container #sidebar #side .chatList-search-container .search .search-btn {
  position: absolute;
  left: 12px;
  top: 5px;
}
.wrapper .container #sidebar #side .chatList-search-container .search .search-input {
  padding: 0 32px 0 65px;
  height: 35px;
  display: flex;
  align-items: center;
}
.wrapper .container #sidebar #side .chatList-search-container .search .search-input input {
  font-size: 14px;
  width: 100%;
}
.wrapper .container #sidebar #side .chatList-search-container .filter-btn {
  padding: 0 8px;
  width: 42px;
  cursor: pointer;
}
.wrapper .container #sidebar #side .pane-side {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper .container #sidebar #side .pane-side .archive-btn {
  height: 49px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrapper .container #sidebar #side .pane-side .archive-btn .archive-icon {
  padding: 0 14px;
  height: 49px;
  width: 77px;
  color: rgb(0, 168, 132);
}
.wrapper .container #sidebar #side .pane-side .archive-btn .archive-content {
  flex-grow: 1;
  padding-right: 15px;
  color: rgb(233, 237, 239);
}
.wrapper .container #sidebar #side .pane-side .chat-list {
  width: 100%;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item {
  height: 72px;
  width: 100%;
  cursor: pointer;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn {
  height: 100%;
  width: 100%;
  display: flex !important;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-pp {
  height: 72px;
  width: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-pp .avatar {
  padding: 0 15px 0 13px;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-pp .avatar img {
  border-radius: 50%;
  overflow: hidden;
  width: 49px;
  height: 49px;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-info {
  flex-grow: 1;
  border-top: 0.8px solid rgb(42, 57, 66);
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-info .title-meta {
  display: flex;
  height: 22.4px;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-info .title-meta .person-title {
  flex-grow: 1;
  width: 100%;
  font-size: 17px;
  color: rgb(233, 237, 239);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-info .title-meta .person-meta {
  margin: 6px 0 0 6px;
  font-size: 12px;
  color: rgb(134, 150, 160);
}
.wrapper .container #sidebar #side .pane-side .chat-list .list-item .list-item-btn .person-info .last-message {
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 2px;
  font-size: 14px;
  color: rgb(134, 150, 160);
}
.wrapper .container #sidebar #side .pane-side .sidebar-footer {
  padding-top: 10px;
  margin: 15px 16px;
  border-top: 0.8px solid rgba(134, 150, 160, 0.15);
  font-size: 12px;
}
.wrapper .container #sidebar #side .pane-side .sidebar-footer .side-footer-content {
  color: #D1D7DB;
}
.wrapper .container #sidebar #side .pane-side .sidebar-footer .side-footer-content a {
  color: rgb(83, 189, 235);
}
.wrapper .container #main {
  width: 70%;
}
.wrapper .container #main .main-wrapper {
  height: 100%;
  width: 100%;
  min-width: 450px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper {
  height: 100%;
  width: 100%;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat {
  display: flex;
  flex-direction: column;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header {
  border-left: 0.8px solid rgba(134, 150, 160, 0.15);
  display: flex;
  background-color: #202C33;
  height: 60px;
  padding: 10px 16px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .avatar {
  width: 55px;
  height: 40px;
  padding-right: 15px;
  cursor: pointer;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .chat-info {
  flex-grow: 1;
  cursor: pointer;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .chat-info .chat-title {
  font-size: 17px;
  color: rgb(233, 237, 239);
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .chat-info .last-seen {
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 2px;
  font-size: 12px;
  color: rgb(134, 150, 160);
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .header-btns {
  margin-left: 20px;
  display: flex;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .header-btns div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-header .header-btns .menu-bar-chat {
  margin-left: 10px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content {
  width: 100%;
  flex-grow: 1;
  height: calc(100vh - 160px);
  min-height: 371px;
  background: url(../img/wall.jpg);
  background-size: cover;
  border-left: 0.8px solid rgba(134, 150, 160, 0.15);
  overflow-x: hidden;
  overflow-y: scroll;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .sticky-date {
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 5px 12px 6px;
  border-radius: 12px;
  position: sticky;
  top: 8px;
  font-size: 12.5px;
  color: rgb(134, 150, 160);
  background-color: rgb(24, 34, 41);
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .message-list-item {
  margin-bottom: 2px;
  max-width: calc(57% + 126px);
  padding: 0 63px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .message-list-item:last-child {
  margin-bottom: 12px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .message-list-item .text-content {
  --text-width: 100%;
  padding: 6px 7px 8px 9px;
  background-color: rgb(0, 92, 75);
  border-radius: 12px;
  position: relative;
  border-bottom-right-radius: 0;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .message-list-item .text-content .message-content {
  overflow-wrap: break-word;
  color: rgb(233, 237, 239);
  font-size: 14.2px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .message-list-item .text-content .message-content::after {
  content: "––––––––";
  visibility: hidden;
  white-space: nowrap;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-content .message-list .message-list-item .text-content .message-meta {
  float: right;
  width: 56px !important;
  position: absolute;
  right: 0;
  margin: -10px 0 -5px 4px;
  color: rgba(255, 255, 255, 0.533333);
  font-size: 12px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer {
  height: 62px;
  padding: 5px 16px;
  border-left: 0.8px solid rgba(134, 150, 160, 0.15);
  background-color: #202C33;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container {
  display: flex;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .emoji-file {
  display: flex;
  padding: 5px 0;
  height: 52px;
  width: 82px;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .emoji-file div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(134, 150, 160);
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .emoji-file .emoji-btn {
  margin: 0 8px;
  cursor: pointer;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .emoji-file .file-btn {
  padding: 8px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .emoji-file .file-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .message-container {
  flex-grow: 1;
  display: flex;
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .message-container .message-input {
  flex-grow: 1;
  margin: 5px 8px;
  padding: 9px 12px;
  border-radius: 10px;
  background-color: rgb(42, 57, 66);
}
.wrapper .container #main .main-wrapper .main-chat-wrapper .main-chat .chat-footer .chat-footer-container .message-container .msg-btn {
  width: 40px;
  padding: 5px 0;
  cursor: pointer;
}
.wrapper .container #main .main-wrapper .main-beginner {
  height: 100%;
  width: 100%;
  border-left: 0.8px solid rgba(134, 150, 160, 0.15);
  background-color: #222E35;
  padding: 28px 0;
  position: relative;
}
.wrapper .container #main .main-wrapper .main-beginner::after {
  width: 100%;
  padding-right: 0;
  height: 0;
  content: "";
  border-top: 5.6px solid rgb(0, 128, 105);
  position: absolute;
  bottom: 0;
}
.wrapper .container #main .main-wrapper .main-beginner .intro-container {
  width: 80%;
  max-width: 560px !important;
  flex-direction: column;
}
.wrapper .container #main .main-wrapper .main-beginner .intro-container .intro-content {
  width: 100%;
  text-align: center;
}
.wrapper .container #main .main-wrapper .main-beginner .intro-container .intro-content .intro-title {
  font-size: 32px;
  font-weight: lighter;
  margin-top: 40px;
}
.wrapper .container #main .main-wrapper .main-beginner .intro-container .intro-content .intro-text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #8696a0;
}
.wrapper .container #main .main-wrapper .main-beginner .intro-container .intro-content .intro-lock {
  width: calc(100% - 0.8px);
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  color: #8696a0;
}

@media (max-width: 1440px) {
  .wrapper {
    margin: 0;
  }
  #main {
    height: 100% !important;
  }
  #sidebar {
    height: 100% !important;
  }
  .chat-content {
    height: calc(100vh - 122px) !important;
  }
  #side {
    height: calc(100vh - 60px) !important;
  }
}
@media (max-width: 1300px) {
  #sidebar {
    width: 40% !important;
  }
  #main {
    width: 60% !important;
  }
}
@media (max-width: 900px) {
  #sidebar {
    width: 45% !important;
    min-width: 336.6px;
  }
  #main {
    width: 55% !important;
  }
}
@media (max-height: 512px) {
  body {
    overflow: auto;
  }
  #wrapper {
    margin-bottom: 0;
  }
  .pane-side {
    min-height: 384px;
  }
  #main {
    height: 512px;
  }
}/*# sourceMappingURL=style.css.map */